body{
    font-family:
    -apple-system,
    BlinkMacSystem,
    'Segoe UI','Roboto','Helvetica Neue',Arial,sans-serif;
    background-color:
  pink;
  
  #main{
    background-color:#f0f0f0f0;
    border-radius:10px;
  }
  
  #title{
    text-align:center;
    font-size:40px;
    padding-top:20px;
  }
  
  #description{
    text-align:center;
  }
  #img-div{
    position:center;
    background-color:white;
    padding:20px;
  }
  #img{
    max-width:500%;
  }
  #image{
    padding-left:500px;
    display:block;
  }
  #img-caption{
    text-align:center;
    font-size:15px;
  }
  #subtitle{
    font-size:20px;
    text-align:center;
    padding:20px 0;
    font-weight:600;
  }
  #tribute-info
  {width:100%;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
  
  }
  ul,#quote{
    padding-left:100px;
    text-align:center;
    max-width:550px;
    
  }
  li{
    margin:15px;
    text-align:justify;
  }
  #quote{
    padding-left:300px;
    font-style:italic;
    
  }
  